<nav class="site-nav">
  <!-- add site wide header content here -->
  <div class="logo">
      YongCheng Zhou's Portfolio
  </div>

  <a href="#" class="hamburger" id="nav-toggle"><span></span></a>

  <div class="links" id="nav-links">
          <a href="index.html">Home</a>
          <a href="about.html">About</a>  
  </div>
</nav>

    
